extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Your achievements across the Universe

        .total-wallet-coins Wallet total Space Coins: $ 
            span.wallet= user.score.value

        <div class="card-slider">
            for question, index in questions
                <div class="card">
                    <a href="#"  class="main-link">
                        <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXOrgJXYzq76X2dQJUBBlQQ5w_0QdVAgG_ug&usqp=CAU" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                        </div>
                    </a>
                    <div class="quize">
                        <div class="question-bar">
                            h2.qestion= question.question
                            <ul>
                                <li>
                                    input(type='radio', name='option', id="a-" + index, class='ansList')
                                    label(for='a-' + index, class='ansa-' + index)= question.a

                                </li>
                                <li>
                                    input(type='radio', name='option', id="b-" + index, class='ansList')
                                    label(for='b-' + index, class='ansb-' + index)= question.b

                                </li>
                                <li>
                                    input(type='radio', name='option', id="c-" + index, class='ansList')
                                    label(for='c-' + index, class='ansc-' + index)= question.c
                                </li>
                                <li>
                                    input(type='radio', name='option', id="d-" + index, class='ansList')
                                    label(for='d-' + index, class='ansd-' + index)= question.d
                                </li>

                            </ul>
                            <div class="footer-button">
                                button(id='submit-' + index, class="submitBtn cta-upper") Submit
                            </div>
                        </div>
                        div(id='showscore-' + index, class='scoreArea')
                    </div>
                </div>
        </div>
        <div class="wallet-coins">
            <span>Space Coins from challenge: $</span>
            <span id="walletCoins"></span>
            input(type='hidden', name='_csrf', value=_csrf)
        </div>
        <button id="updateWallet" class="btn cta-upper">Get my Space Coins</button>
    